body {
    font-family: 'Open Sans',Helvetica,Arial,sans-serif;
   /* background-color: rgba(0, 0, 0, 0.9);*/
   /* background-color : #d9d9d9; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
}
#fullscreen {
    z-index: -999;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
#avatar {
    height: 170px;
    border-radius: 100%;
  /*  border: 5px solid white; */
    margin-top: 6%;
    margin-bottom: 0.5%;
  -moz-transition: width 1.5s, height 1.5s, transform 1.5s;
  -webkit-transition: width 1.5s, height 1.5s, transform 1.5s;
  transition: width 1.5s, height 1.5s, transform 1.5s;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}
#avatar:hover {
  -moz-transition: width 1.5s, height 1.5s, transform 1.5s;
  -webkit-transition: width 1.5s, height 1.5s, transform 1.5s;
  transition: width 1.5s, height 1.5s, transform 1.5s;
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}
h1 {
    color: black;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 3em;
    font-family: 'Open Sans';
}
p {
    color: black;
  /*  background-color: #e6f3ff; */
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: thin;
    font-family: 'Helvetica';
    font-style: oblique;
    border: 1px solid #000d1a;
    border-radius: 50px;
}
.content {
    width: 100%;
    height: 100%;
   /* padding-top: 10%;
    padding-bottom: 4%;*/
  /*  background-color: rgba(0, 0, 0, 0.5); */
    background-color: #e0ebeb;
    text-align: center;
}
ul {
    list-style: none;
    padding: 1% 0 0 0;
}
li {
    border-radius: 100%;
    border: 2px solid black;
    color: white;
    margin: 8px;
    display: inline-block;
    list-style: none;
    width: 65px;
    height: 65px;
    -moz-transition: width 1.5s, height 1.5s, transform 1.5s;
    -webkit-transition: width 1.5s, height 1.5s, transform 1.5s;
    transition: width 1.5s, height 1.5s, transform 1.5s;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
li:hover {
    color: black;
    text-decoration: none;
    -moz-transition: width 1.5s, height 1.5s, transform 1.5s;
    -webkit-transition: width 1.5s, height 1.5s, transform 1.5s;
    transition: width 1.5s, height 1.5s, transform 1.5s;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
    text-decoration: none;
   /* background-color: rgba(0, 0, 0, 0.5);*/
    background-color: #c2d6d6;
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    margin-left: 20px;
    margin-right: 20px;
}
a {
    color: black;
    padding: 15px;
    text-decoration: none;
}
.description {
    display: none;
}

@media (max-width: 450px) {
ul {
    text-align: center;
}
li {
    border-radius: 0%;
    border: none;
    color: black;
    margin: 8px;
    display: block;
    list-style: none;
    margin: 10px 0px;
    text-align: center;
    height: auto;
    width: auto;
}
li:hover {
    background-color: none;
    transition: none;
}
a {
    text-align: justify;
 /*   border: 2px solid white; */
    border-radius: 5px;
    color: black;
    padding: 15px;
    padding-left: 30px;
    width: 70%;
}
a:hover {
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    transition: 500ms;
   /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: #c2d6d6;
    color: black;
    text-decoration: none;
}
.description {
    display: inline-block;
    color: black;
    font-family: Arial;
    margin-left: 40px;
}
.content {
    padding-top: 60px;
}
}
