/* body {
    background-color: rgba(240, 240, 240, 1);
    background-image:url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
}

img.background {
    position: fixed;
    top: -70%;
    left: 0;
    width: 100%;
    height: 10%;
    border: 0 0 0 0;
    border-style: none;
    box-shadow: 0 0 20px -5px #d1d1d1;
    margin: 0 0 100px 0;
    margin-color: yellow;
}

.card {
    overflow-x: scroll;
    width: auto;
    height: 200px;
}
.about {
    position: fixed;
    left: 0px;
    top: 50%;
}
.avatar {
    top: 100%;
    left: 0;
    position: fixed;
    width: 270px;
    height: 200px;
    border: 4px solid;
    float: left;
    border: 1px solid black;
    box-shadow: 0 0 20px -5px black;
}
*/
html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-family:Georgia;
	margin: 10px 0 0 500px;
}
div {
    width: 100;
    background-color: #f0ffff;
    padding: 50px 100px 100px 100px;
}
.about {
    height: 100;
/*	width:100;*/
 /*   background-color: #f0ffff;
	padding: 50px 100px 100px 100px;*/
	margin-top: 180px;
    margin-bottom: 220px;
   /* border: 1px solid black;*/
}
.contact {
    height: 200;
   /* width: 100;
/*    background-color: #f0ffff;
    padding: 50px 100px 100px 100px;*/
    margin-top: 550px;
    margin-bottom: 200px;
   /* border: 1px solid black;*/
	padding-top: 10px;
	padding-bottom: 150px;
}
.text {
	font-family:Georgia;
	margin: 50px;
}

a, a:link, a:visited, a:hover {
    color: #4499dd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    margin: 30px 0 10px 450px;
    padding: 10px 0 0 10px;
    list-style: none;
}
ul li img {
    float: left;
    padding: 10px 15px;
}
ul li img {
    height: 32px;
    position: relative;
}
ul li a {
    position: relative;
    top: 0;
    transition: top 0.2s;
}
ul li a:hover {
    top: -5px;
}
ul li a:hover img {
    padding-bottom: 15px;
}
ul li img.zoom {
    top: -7px;
    height: 47px;
    padding: 10px 8px;
}
