@media only screen and (max-width: 1280px) {
html {
	//background:url(../images/bg.jpg) no-repeat center center fixed;
//	background-color: rgb(185, 190, 204);
	background-color: rgb(135, 143, 171);
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover
}
    *{
        width: 1280px;
        height: auto;
    }
    #button {
        visibility: hidden;
    }
    #demo {
        position:relative;
        height: auto;
    }
    ul {
        list-style:none;
        max-width:100%;
        margin:auto;
        position:relative
    }
    ul li img {
        float:left;
        padding:10px 14.8%;
        height:32px;
        width: 30px;
        position:relative
    }
        div{

            width: 1280px;
        }

}


@media only screen and (max-width: 1024px) {
    #button {
        visibility: hidden;
    }
    #demo {
        position:relative;
        height: auto;
    }
    div {

            width: 1024px;
    }

    ul {
        list-style:none;
        max-width:100%;
        margin:auto;
        position:relative
    }

    ul li img {
        float:left;
        padding:10px 14.3%;
        height:32px;
        width: 30px;
        position:relative
    }

}
