html, body {
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-family:Georgia;
	margin: 10px 0 0 500px;
}
div {
    width: 100;
    background-color: #ECF2F7;
    padding: 50px 100px 100px 100px;
}

.about {
    height: 100;
	margin-top: 180px;
    margin-bottom: 220px;
}
.contact {
    height: 200;
    margin-top: 550px;
    margin-bottom: 200px;
	padding-top: 10px;
	padding-bottom: 150px;
}
.text {
	font-family:Georgia;
	margin: 50px;
}

a, a:link, a:visited, a:hover {
    color: #4499dd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    margin: 30px 0 10px 450px;
    padding: 10px 0 0 10px;
    list-style: none;
}
ul li img {
    float: left;
    padding: 10px 15px;
}
ul li img {
    height: 32px;
    position: relative;
}
ul li a {
    position: relative;
    top: 0;
    transition: top 0.2s;
}
ul li a:hover {
    top: -5px;
}
ul li a:hover img {
    padding-bottom: 15px;
}
ul li img.zoom {
    top: -7px;
    height: 47px;
    padding: 10px 8px;
}
