*{margin:0; padding:0}
html, body {
    height:100%;
    width:100%;
    max-height:100%;
    max-width:100%;
    margin:0;
    padding:0;
}
html {
  background: url("../images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1 {
	font-family:Georgia;
	margin: 1% 0 0 40%;
}
div {
    width: 80%;
    max-width: 100%;
    background-color: #ECF2F7;
    margin: 10% 0 5% 0%;
    padding: 5% 10% 10% 10%;
}

.about {
    height: 100;
	margin-top: 9.3%;
    margin-bottom: 5%;
}
.contact {
    height: 200;
    margin-top: 12%;
    margin-bottom: 6%;
	padding-top: 1%;
	padding-bottom: 0.8%;
}
.text {
	font-family:Georgia;
	margin: 5%;
}

a, a:link, a:visited, a:hover {
    color: #4499dd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

ul {
    margin: 30% 0 1% 4%;
    padding: 0 0 0 0;
    list-style: none;
}
ul li img {
    float: left;
    padding: 1% 1%;
}
ul li img {
    height: 3%;
    position: relative;
}
ul li a {
    position: relative;
    top: 0;
    transition: top 0.2s;
}
ul li a:hover {
    top: -1%;
}
ul li a:hover img {
    padding-bottom: 1%;
}
ul li img.zoom {
    top: -7%;
    height: 4%;
    padding: 1% 1%;
}
